<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js"  
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    
    <title>Todo app</title>
</head>
<body>
    <h1>My todo app</h1>
    
        <img src="/assets/todo.jpg" id="icon">
    
    <div id="todo-table">
        <form method="POST">
            <input type="text" name="item" placeholder="Add new..." required>
            <button type="submit">Add item</button>
        </form>

        <ul>
           <% for(var i=0; i < todos.length; i++){ %> 
              <li><%= todos[i].item %></li> 
           <% } %>
        </ul>

    </div>

    <script src="/assets/todo-list.js"></script>
</body>
</html>